.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../img/water.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
