@import "../../media.scss";

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.main {
  flex: 1 0 auto;
}
//section__about
.about {
  position: relative;
}
.titleLeft {
  width: 100%;
  position: relative;
}
.titleRight {
  width: 100%;

  @include phones {
    text-align: center;
  }
}
.row {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}
.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  @include phones {
    width: 100%;
  }
}
.left {
  background-color: #ebefe2;
  align-items: flex-start;
}
.right {
  flex-wrap: wrap;
  background-color: #f4f5f0;
  justify-content: space-evenly;
}
.person {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;

  @include phones {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.avatarWrapper {
  width: 100%;
  text-align: center;
}
.avatar {
  max-width: 90%;
}
.aboutTitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.description {
  font-family: "Roboto";
  color: #5d5a55;
  text-align: left;
  line-height: 1.42;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.skills {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}
.map {
  position: relative;
}
.contacts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto";
  background-color: rgba(#f6f6f2, 0.8);
  border-radius: 0.625rem;
}
.contactsTitle {
  margin-top: 2rem;
}
