.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.main {
  flex: 1 0 auto;
}
//section__about
.about {
  position: relative;
}
.title {
  display: flex;
}
.titleLeft {
  width: 100%;
  background-color: #ebefe2;
  position: relative;
}
.titleRight {
  width: 100%;
  background-color: #f4f5f0;
}
.row {
  display: flex;
}
.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  flex-grow: 1;
}
.left {
  justify-content: center;
  background-color: #ebefe2;
}
.right {
  background-color: #f4f5f0;
}
.person {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}
.avatarWrapper {
  width: 100%;
  text-align: center;
}
.avatar {
  max-width: 90%;
}
.aboutTitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.description {
  font-family: "Roboto";
  color: #5d5a55;
  text-align: left;
  line-height: 1.42;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.skills {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}
