@import "../../media.scss";

.right {
  position: absolute;
  top: -145px;
  width: 50%;
  height: 145px;
  transform: rotateY(180deg);
  right: 0;

  @include phones {
    top: -30px;
    height: 30px;
  }
}
