.link {
  background: #639155;
  border: transparent;
  outline-color: transparent;
  outline: none;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  flex-grow: 1;
  font-size: 1rem;
  padding: 0.625rem 1.5rem;
  cursor: pointer;

  &:hover {
    background: #4a803a;
  }
}
.borderRadiusLeft {
  border-radius: 0 0 0 0.625rem;
  border-right: 0.125rem solid #a0b99e;
}
.borderRight {
  border-right: 0.125rem solid #a0b99e;
}
.borderRadiusRight {
  border-radius: 0 0 0.625rem 0;
}
.authorize {
  width: 11.25rem;
  font-size: 1rem;
  position: absolute;
  top: 2rem;
  right: 4rem;
  background: transparent;
  border: 0.125rem solid #fff;
  border-radius: 2rem;

  &:hover {
    border: 0.125rem solid #4a803a;
  }
}
