.input {
  flex-grow: 1;
}
.textArea {
  font-family: "Roboto", Arial, sans-serif;
  color: #455a64;
  height: 8rem;
  width: 100%;
  border: none;
  border-radius: 0.625rem;
  padding: 1rem 1rem;
}
.error {
  font-weight: 600;
  color: red;
  text-align: center;
}
