@import "../../media.scss";

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.main {
  flex: 1 0 auto;
}
.blogTitle {
  margin-bottom: 2rem;
}
.section {
  min-height: rem(650px);
}
// blog
.blog {
  position: relative;
  background-color: #faf8f0;
}
.content {
  display: flex;
  align-items: baseline;
  width: 100%;
}
.sidebar {
  position: sticky;
  top: 1rem;
  width: 35%;
  margin-left: 3%;
}
.articles {
  position: relative;
  width: 65%;
  margin-right: 3%;
  margin-left: 3%;
}
