.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.main {
  flex: 1 0 auto;
}
//section__works
.works {
  position: relative;
}
.worksTitle {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f8f9f5;
}
.row {
  display: flex;
}
.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-grow: 1;
}
.left {
  background-color: #ebefe2;
}
.leftTitle {
  margin-bottom: 2rem;
}
.right {
  background-color: #e1e4d7;
}
.description {
  font-family: "Roboto";
  color: #6a985a;
  text-align: center;
  margin-bottom: 2rem;
}
.imgWrapper {
  padding: 1rem;
  text-align: center;
}
.img {
  width: 100%;
}
//section__about
.about {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #f4f5f0;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 900px;
}
.imgBackground {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
}
.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.aboutTitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.elementBg {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.comments {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}
.feedbackForm {
  margin-bottom: 10rem;
}
.arrow {
  background-color: transparent;
  border: none;
  margin-bottom: 2.5rem;
  z-index: 2;
}
.up {
  &:hover {
    fill: #e1e4d7;
  }
}
