.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.main {
  flex: 1 0 auto;
}
.section {
  height: 100vh;
}
.works {
  display: flex;
  flex-direction: column;
  position: relative;
}
.worksTitle {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f8f9f5;
}
.row {
  display: flex;
  width: 100%;
  height: 100%;
}
.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-grow: 1;
}
.left {
  background-color: #ebefe2;
}
.leftTitle {
  margin-bottom: 2rem;
}
.right {
  background-color: #e1e4d7;
}
.description {
  font-family: "Roboto";
  color: #6a985a;
  text-align: center;
  margin-bottom: 2rem;
}
.imgWrapper {
  padding: 1rem;
  text-align: center;
}
.img {
  width: 100%;
}
