.works {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.description {
  display: flex;
  width: 100%;
  height: 100%;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-grow: 1;
  background-color: #ebefe2;
}
.technologies {
  font-family: "Roboto";
  color: #6a985a;
  text-align: center;
  margin-bottom: 2rem;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-grow: 1;
  background-color: #e1e4d7;
}
.img {
  width: 37.5rem;
  height: 18.75rem;
}
