.customRadio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.customRadio + label {
  display: inline-flex;
  align-items: center;
  margin-right: 1.25rem;
  user-select: none;

  &:last-child {
    margin-right: 0rem;
  }
}
.customRadio + label::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  padding: 8px;
}
.customRadio:checked + label::before {
  border-color: #4a803a;
  background-color: #fff;
  background-image: url(assets/circle.svg);
}
.customRadio:checked + label {
  color: #4a803a;
}
.customRadio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #4a803a;
}
