.cardFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 48, 40, 0.6);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
.cardFront {
  backface-visibility: hidden;
  transition: all 0.3s;
}
.hero {
  padding: 1.7rem 3rem;
}
.flipped {
  transform: rotateY(-180deg);
}
