.cardFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(26, 48, 40, 0.6);
  border-radius: 0.625rem;
}
.cardFront {
  backface-visibility: hidden;
  transition: all 0.3s;
}
.hero {
  padding: 2rem 1.5rem;
}
.person {
  margin-bottom: 2rem;
}
.flipped {
  transform: rotateY(-180deg);
}
