.cardAuth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(26, 48, 40, 0.6);
  border-radius: 0.625rem;
}
.cardAuth {
  backface-visibility: hidden;
  transition: all 0.3s;
}
.cardAuth {
  transform: rotateY(-180deg);
}
.title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 1.25rem;
}
.login,
.password {
  display: flex;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeebdf;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  padding: 0.625rem 0.625rem;
}
.error {
  align-self: center;
  color: red;
}
.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.controlText {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.flipped {
  transform: rotateY(0);
}
.controlButton {
  display: flex;
}
