@import "../../media.scss";

.title {
  font-family: "Sansus-Webissimo";
  text-align: center;
  color: #fff;

  &:after {
    content: "";
    display: block;
    margin: auto;
    width: 7rem;
    border: 2px solid;
  }
}
//title__size
.small {
  font-size: rem(36px);

  @include phones {
    font-size: rem(24px);
  }
}
.medium {
  font-size: rem(32px);
  text-transform: uppercase;

  @include phones {
    font-size: rem(28px);
  }
}
.high {
  font-size: rem(64px);
  text-transform: uppercase;

  @include phones {
    font-size: rem(48px);
  }
}
//title__color
.black {
  color: #373e42;
  font-weight: bolder;
}
.gray {
  color: #566358;
}
