@import "../../media.scss";

.skillsTitle {
  color: #566358;

  @include tablets {
    text-align: center;
  }

  @include phones {
    text-align: center;
  }
}
.skillsRowList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2rem;

  @include phones {
    justify-content: space-around;
  }
}
.skill {
  position: relative;
  text-align: center;
}
.skillsRowItem {
  margin-left: 1rem;

  &:first-child {
    margin-left: 0rem;
  }

  @include phones {
    margin-left: 0;
  }
}
.skillTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #639155;
}
