.auth {
  padding: 1.7rem 1.25rem;
}

.login {
  position: relative;
}
.password {
  position: relative;
}
.icon {
  position: absolute;
  top: 0.6rem;
  left: 1rem;
}
.input {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 1.25rem;
  border-color: transparent;
  outline: none;
  background-color: #fff;
  margin-bottom: 1.25rem;
  padding: 0.625rem 2.5rem;
}
.controlButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control {
  display: flex;
}
.customCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.customCheckbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.customCheckbox + label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25rem;
  border-color: #4a803a;
  margin-right: 0.5rem;
  background-color: #4a803a;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.customCheckbox:checked + label::before {
  background-image: url(img/check.svg);
}
.customRadio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.customRadio + label {
  display: inline-flex;
  align-items: center;
  margin-right: 1.25rem;
  user-select: none;

  &:last-child {
    margin-right: 0rem;
  }
}
.customRadio + label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.customRadio:checked + label::before {
  border-color: #4a803a;
  background-color: #fff;
  background-image: url(img/circle.svg);
}
.customRadio:checked + label {
  color: #4a803a;
}
.customRadio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #4a803a;
}
.text {
  margin: 1.25rem 0 1.25rem 0;
}
.nav {
  display: flex;
}
