.form {
  font-family: "Roboto";
}
.formLogin,
.formPassword {
  position: relative;
}
.icon {
  position: absolute;
  top: 0.6rem;
  left: 1rem;
}
.input {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Roboto";
  border-radius: 1.25rem;
  border-color: transparent;
  outline: none;
  background-color: #fff;
  margin-bottom: 1.25rem;
  padding: 0.625rem 2.5rem;
}
