.input {
  flex-grow: 1;
}
.inputField {
  font-family: "Roboto";
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  border-color: transparent;
  outline: none;
  background-color: #fff;
  width: 100%;
  padding: 0.625rem 0.625rem;
}
