.input {
  flex-grow: 1;
}
.inputField {
  font-family: "Roboto";
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  border-color: transparent;
  outline: none;
  background-color: #fff;
  color: #455a64;
  width: 100%;
  padding: 0.625rem 1rem;
}
.borderRadiusLeft {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}
