.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./assets/water.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.dummy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.card {
  position: relative;
  width: 24rem;
  min-height: 26rem;
  height: 0.063rem;
  color: #fff;
}
.cardFront,
.cardBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 48, 40, 0.6);
  border-radius: 0.625rem;
}
.cardFront,
.cardBack {
  backface-visibility: hidden;
  transition: all 0.3s;
}
.cardBack {
  transform: rotateY(-180deg);
}
.card.flipped .cardFront {
  transform: rotateY(-180deg);
}
.card.flipped .cardBack {
  transform: rotateY(0);
}
