.customCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.customCheckbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.customCheckbox + label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25rem;
  border-color: #4a803a;
  margin-right: 0.5rem;
  background-color: #4a803a;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.customCheckbox:checked + label::before {
  background-image: url(assets/check.svg);
}
