.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: url("../../img/water.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.content {
  display: flex;
  width: 100%;
  padding: 0 1.75rem;
}
