@import "../../media.scss";

.wrapper {
  display: flex;
  box-shadow: inset 0 -2rem 2rem 0rem rgba(0, 0, 0, 0.7);
  background: url("./assets/bg/water.jpg") 0 0 no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @include tablets {
    justify-content: space-between;
    margin-bottom: 5rem;
  }
  @include phones {
    width: 95%;
  }
}
.dummy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.buttonAuth {
  z-index: 2;
  align-self: flex-end;
  margin-right: 2rem;

  @include tablets {
    margin-top: 2rem;
  }

  @include phones {
    align-self: center;
    margin-right: 0;
  }
}
