.burgerMenu {
  cursor: pointer;
}
.burgerMenuLine:before,
.burgerMenuLine:after,
.burgerMenuLine {
  position: absolute;
  width: 2.5rem;
  height: 0.375rem;
  background-color: #fff;
  transition: 0.3s;
}
.burgerMenuLine {
  top: 3.5rem;
  right: 1.75rem;
}
.burgerMenuLine:before {
  content: "";
  top: -1rem;
}
.burgerMenuLine:after {
  content: "";
  top: 1rem;
}
.burgerMenu.active .burgerMenuLine {
  background-color: transparent;
}
.burgerMenu.active .burgerMenuLine:before {
  top: 0;
  transform: rotate(45deg);
}
.burgerMenu.active .burgerMenuLine:after {
  top: 0;
  transform: rotate(-45deg);
}
