.button {
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 2.25rem;
  border: transparent;
  outline-color: transparent;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: 30;
  transition: 0.3s;
  cursor: pointer;
}
.line:before,
.line:after,
.line {
  position: absolute;
  width: 2.5rem;
  height: 0.375rem;
  background-color: #fff;
  transition: 0.3s;
}
.line:before {
  position: absolute;
  top: 0.875rem;
  left: 0;
  content: "";
}
.line:after {
  position: absolute;
  bottom: 0.875rem;
  left: 0;
  content: "";
}
.button.active .line {
  background-color: transparent;
}
.button.active .line:before {
  top: 0;
  transform: rotate(45deg);
}
.button.active .line:after {
  top: 0;
  transform: rotate(-45deg);
}
