.title {
  width: 100%;
  position: absolute;
  opacity: 0.2;
}
.center {
  text-align: center;
}
.nocenter {
  top: 40%;
}
.img {
  width: 100%;
}
.high {
  width: 95%;
}
.medium {
  width: 50%;
}
.small {
  width: 35%;
}
