.title {
  position: absolute;
  opacity: 0.2;
}
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nocenter {
  top: 48%;
  left: 40%;
}
.small {
  width: 35%;
}
.medium {
  width: 50%;
}
.high {
  width: 90%;
}
