.footer {
  background: rgba(54, 61, 64, 0.6);
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}
.row.backgroundGreen {
  background: #628c54;
}
.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
  width: 50%;
}
.right {
  font-family: "Roboto-BoldItalic";
  color: #fff;
}
