@import "../../media.scss";

.footer {
  flex: 0 0 auto;
  background: rgba(#363d43, 0.8);
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  &.backgroundGreen {
    background: #628c54;
  }

  @include phones {
    display: flex;
    flex-direction: column;
  }
}
.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 50%;
}
.left {
  border-right: 0.063rem solid white;

  @include phones {
    flex: 1;
    align-items: center;
    border-right: none;
    border-bottom: 0.063rem solid white;
    margin-bottom: 1rem;
  }
}
.nav {
  margin-bottom: 1rem;
}
.socials {
  @include phones {
    margin-bottom: 1rem;
  }
}
.right {
  margin-left: 1rem;
  font-family: "Roboto-BoldItalic";
  color: #9c9fa0;

  @include phones {
    flex: 1;
    text-align: center;
    margin-left: 0;
  }
}
.text {
  margin-bottom: 0.625rem;
}
.author {
  @include phones {
    align-self: center;
  }
}
