.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.item {
  margin-right: 1.875rem;

  &:last-child {
    margin-right: 0;
  }
}
.link {
  fill: #9c9fa0;
  transition: all 0.3s;

  &:hover {
    fill: #458829;
  }
}
.fillWhite {
  fill: #fff;
}
.hoverWhite:hover {
  fill: #fff;
}
