@import "../../media.scss";

.left {
  position: absolute;
  top: rem(-145px);
  width: 50%;
  height: rem(145px);
  left: 0;

  @include tablets {
    top: rem(-80px);
    height: rem(80px);
  }

  @include phones {
    top: rem(-55px);
    height: rem(55px);
  }
}
