.list {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.comment {
  font-family: "Roboto-BoldItalic";
  position: relative;
}
.text {
  color: #5d5a55;
  text-align: left;
  padding: 1rem;

  &:before {
    content: "";
    background: url("./img/marks.png") 0 0 no-repeat;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 1rem;
  }
}
.title {
  text-align: center;
  color: #639155;
}
